html,
body {
  overscroll-behavior-y: none;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  position: relative;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 15rem minmax(0,1fr);
  grid-template-rows: minmax(0, 1fr);
  width: 100%;
  height: 100%;
}

.no-support {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

canvas {
  width: 100%;
  height: 100%;
}

.canvas-wrapper {
  position: relative;
}

.transformation {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: start;
  padding-left: 0.5rem;
  font-size: 0.8rem;

  .title {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }

  label {
    input {
      margin-left: 0.35rem;
      background-color: gray;
    }
  }

  .values {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
}

.orientation-control {
  position: absolute;
  left: 0;
  right: 0;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.add-button {
  position: absolute;
  margin: 1rem;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}

.upper-right {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}

.settings-button {
  background-color: lightgray;
  border-radius: 4px;
}

.object-menu {
  display: none;
  position: absolute;
  background-color: lightgray;
  border-radius: 4px;
  top: 0;
  left: 100%;
  width: max-content;
  height: max-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &.show {
    display: flex;
    flex-direction: column;
  }

  div {
    height: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    user-select: none;

    &:hover {
      background-color: gray;
    }
  }
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: minmax(0, 1fr);
}